{% extends "base.html.twig" %}
{% block meta_description %}
         <meta name="description" content="Page de modification de mon profil" />   
        {% endblock %}
{% block title %}Modification du profil{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="text-center pt-3">Modification du profil</h2>
        
        {{form_start(form)}}
        {{form_widget(form)}}
            <div class="row justify-content-center pb-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary d-block mx-auto my-0">Enregistrer les modifications</button>
                </div> 
            </div>
        {{form_end(form)}}
    </div>  
{% endblock %}