{% extends "base.html.twig" %}
{% block meta_description %}
    <meta name="description" content="Demande de réinitialisation du mot de passe" />   
{% endblock %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center py-3">Mot de passe oublié</h1>
        {{ form_start(forgotPasswordFormStep1) }}
        {{form_widget(forgotPasswordFormStep1)}}
        <button type="submit" class="btn btn-primary d-block mx-auto my-0">Effectuer la demande</button>
        {{form_end(forgotPasswordFormStep1)}}
    </div>
{% endblock %}